baseFontColor = cyan
lightFontColor = darken(baseFontColor, 55%)

/*.main*/
    /*width 960px*/
    /*text-align center*/
    /*margin 0 auto*/
    /*padding-top 30px*/

border-radius(n)
    border: 1px dashed blue
    border-radius n * .5

h1 {
  margin-top 1em
  color lightFontColor
  font-size 2em
  sprite($numberTwo)
  border-radius(1em)
}
