extends _layout

block content
  .container
    include top-navigation
    .main
      h1 #{projectName}
      p.
        asdada
        dasdasdasdasd asd asd asd
        asd as as as dasd sad
    .aside
      p.
        фывфы1111123asdas
        asdsad asd as12132
