extends _layout

block content
  .container
    .top-navigation
      a(href='#') название проекта
      | /
      a(href='#') таск-родитель
      | /
      a(href='#') текущий таск
      | /
      | кол-во тасков верхнего уровня на этой странице
    .main
      h1 Страница таска
      p.
        Таски по сути является частным случаем проекта. А комментарий — частный случай таска
        без исполнителя. Если у комментария появляется исполнитель, то комментарий
        становится таском в иерархии всех тасков проекта. Корневой таск — это проект.
        У него нет родителя.
      div.comment-area Первый абзац первого комментария.
        div.comment-area Ответ на первый комментарий.
      div.comment-area.
        Второй абзац первого комментария, которая была разбита ответом выше на две части.
        При этом разбить/ответить можно только целый абзац. То есть если хочешь ответить на кусок текста, то сначала
        нужно исходный коммент разбить на две части
      div.comment-area.
        Ключевой особееностью является возможность редактировать историю.
        При этом редактируемый коммент не изменяется, а заменяется новым. Старый удаляется, новый добавляется.
      div.comment-area.
        Все комменты/таски добавляются в режиме "предпросмотра". То есть
        не видны остальным пользователям. Когда редактирование всех комментов на
        странице закончено нужно нажать кнопку "коммит" (если со страницы уйти,
        то комменты не пропадут конечно же, то есть можно использовать как черновик)
        Режим комментариев поменяется на "видно всем". Бонус такого решения —
        на таймлайне они будут выглядеть одним коммитом. Возможны конфликты,
        если много человек одновременно вносят правки. Не давать коммитить, если ID комментария на который отвечали, был изменен/удален (что в нашем случае одно и то же).
      br(clear=all)
      p.col1 В результате падения вертолета Ми-8, сбитого под Славянском, погибли четыре сотрудника Службы безопасности Украины — три офицера и один прапорщик. По официальной информации, на борту воздушного судна также находились «специалисты и оборудование для мониторинга пространства».
      p.col2 «В результате крушения вертолета погибли четыре сотрудника СБУ - три офицера и один прапорщик», — сообщили агентству в пресс-центре спецслужбы.
      p.col3 Ранее врио начальника управления по работе с личным составом Александр Розмазнин заявил на пресс-конференции, что среди погибших при обстреле вертолета Ми-8 были офицеры СБУ.
    .aside
      p Тут должны быть фильтры по текущему представлению
      p А именно
      ul
        li.
          Фильтр по времени.
          Есть слайдер. Слева дата первого коммента, справа последнего.
          Двигая границы, все что не попадает в границы становится серым.
          То есть можно быстро понять что добавилось нового в объемном обсуждении.
          По умолчанию комменты, которые уже видел (дата последнего захода на страницу) серые.
        li.
          Фильтр по пользователю.
          Выбирая чекбоксами (по умолчанию все включены) пользователей можно понять быстро найти комменты
          от нужных.
